@import "tailwindcss";

:root {
  --background: #2B2539; /* Jet black */
  --foreground: #ededed; /* Light gray for readability */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "SF Pro", sans-serif;
}
@font-face {
  font-family: "Italican";
  src: url("/fonts/italican.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.italican {
  font-family: "Italican", sans-serif;
}
@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro-Display-Regul.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

